<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" class="ion-padding" (click)="navegarFotoPerfil()">Agregar Foto de Perfil</ion-button>
  <ion-button expand="block" class="ion-padding">Editar Datos Personales</ion-button>
  <ion-button expand="block" class="ion-padding">Cambiar Correo Electrónico</ion-button>
  <ion-button expand="block" class="ion-padding">Cambiar Contraseña</ion-button>
</ion-content>
