<ion-header [translucent]="true">
  <ion-toolbar class="ion-margin-top">
    <ion-title>Editar Correo Electrónico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Confirma tu correo actual</ion-label>
    <ion-input
      [(ngModel)]="correoIngresado"
      type="email"
      required
    ></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-padding" (click)="validarCorreoIngresado()">Verificar</ion-button>

  <ion-text color="danger" *ngIf="correoValido === false">
    <p>El correo ingresado no coincide con el registrado.</p>
  </ion-text>

  <ion-text color="success" *ngIf="correoValido === true">
    <p>Correo verificado correctamente.</p>
  </ion-text>
</ion-content>